<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
    <!-- ======= Sidebar ======= -->
    <aside id="sidebar" class="sidebar" th:fragment="sidebar">
        <ul class="sidebar-nav" id="sidebar-nav">
            <li class="nav-item">
                <a class="nav-link " data-bs-target="#elements-nav" data-bs-toggle="collapse">
                    <i class="bi bi-journal-text"></i><span>Elements</span><i class="bi bi-chevron-down ms-auto"></i>
                </a>
                <ul id="elements-nav" class="nav-content collapse" data-bs-parent="#sidebar-nav">
                    <li>
                        <a th:href="@{/histosprix}">
                            <i class="bi bi-circle"></i><span>Historique des prix</span>
                        </a>
                    </li>
                    <li>
                        <a th:href="@{/substances}">
                            <i class="bi bi-circle"></i><span>Substances</span>
                        </a>
                    </li>
                    <li>
                        <a th:href="@{/symptomes}">
                            <i class="bi bi-circle"></i><span>Symptomes</span>
                        </a>
                    </li>
                    <li>
                        <a th:href="@{/agentsubstance}">
                            <i class="bi bi-circle"></i><span>Agent - Substance</span>
                        </a>
                    </li>
                    <li>
                        <a th:href="@{/substancesymptome}">
                            <i class="bi bi-circle"></i><span>Substance - Symptomes</span>
                        </a>
                    </li>
                    <li>
                        <a th:href="@{/lots}">
                            <i class="bi bi-circle"></i><span>Lots</span>
                        </a>
                    </li>
                    <li>
                        <a th:href="@{/fournisseurs}">
                            <i class="bi bi-circle"></i><span>Fournisseurs</span>
                        </a>
                    </li>
                    <li>
                        <a th:href="@{/clients}">
                            <i class="bi bi-circle"></i><span>Clients</span>
                        </a>
                    </li>
                    <li>
                        <a th:href="@{/vendeurs}">
                            <i class="bi bi-circle"></i><span>Vendeurs</span>
                        </a>
                    </li>
                    <li>
                        <a th:href="@{/selections}">
                            <i class="bi bi-circle"></i><span>Selection de produit</span>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="nav-item">
                <a class="nav-link collapsed" th:href="@{/maladies}">
                    <i class="bi bi-person"></i>
                    <span>Maladies</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link collapsed" th:href="@{/laboratoires}">
                    <i class="bi bi-person"></i>
                    <span>Laboratoires</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link collapsed" th:href="@{/produits}">
                    <i class="bi bi-person"></i>
                    <span>Produits</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link " data-bs-target="#transaction-nav" data-bs-toggle="collapse">
                    <i class="bi bi-journal-text"></i><span>Transactions</span><i class="bi bi-chevron-down ms-auto"></i>
                </a>
                <ul id="transaction-nav" class="nav-content collapse" data-bs-parent="#sidebar-nav">
                    <li>
                        <a th:href="@{/achats}">
                            <i class="bi bi-circle"></i><span>Achats de produits</span>
                        </a>
                    </li>
                    <li>
                        <a th:href="@{/ventes}">
                            <i class="bi bi-circle"></i><span>Ventes de produits</span>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="nav-item">
                <a class="nav-link " data-bs-target="#stock-nav" data-bs-toggle="collapse">
                    <i class="bi bi-journal-text"></i><span>Gestion de stocks</span><i class="bi bi-chevron-down ms-auto"></i>
                </a>
                <ul id="stock-nav" class="nav-content collapse" data-bs-parent="#sidebar-nav">
                    <li>
                        <a th:href="@{/mouvement-stock}">
                            <i class="bi bi-circle"></i><span>Mouvements de stock</span>
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </aside>
    <!-- End Sidebar -->
</body>
</html>
